OPENAI_API_KEY=sk-your-openai-key-here
MODEL_NAME=gpt-4o-mini

LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=ls__your-langsmith-key-here
LANGCHAIN_PROJECT=email-generator

# LANGCHAIN_ENDPOINT=https://api.smith.langchain.com